<div class="alert-bg alert alert-info col-md-12 margin1">
    <h5>Custom Orders</h5>
    <p>
        Heyogo and Foods prides itself on providing quality yougurt, cakes, and pasteries for nourishment of the body and
        mind.
    </p>
    <p>
        We are all passionate individuals dedicated to making good, healthy food accessible to everyone.
        It’s funny how a little, delicious thing like yogurt can do that
    </p>
    <!-- button -->
    <a class="btn btn-secondary" href="/contact">Contact us</a>
</div>