<div id="owl-services" class="owl-carousel owl-theme text-center res-margin">
   <!-- service 1  -->
   <div class="col-lg-12 p-1">
      <div class="box-hover icon p-3">
         <!-- service icon -->
         <i class="flaticon-cake-10  circle"></i>
         <!-- service content -->
         <div class="service-content">
            <h5>Greek Yogurt</h5>
            <p>
               Our nutritious home made yougurt, healthy for you.
            </p>
            <a class="btn btn-primary btn-md" href="#">Read More</a>
         </div>
      </div>
   </div>

   <div class="col-lg-12 p-1">
      <div class="box-hover icon p-3">
         <!-- service icon -->
         <i class="flaticon-birthday-cake-2  circle"></i>
         <!-- service content -->
         <div class="service-content">
            <h5>Cakes</h5>
            <p>
               Our cakes are made to make you special on your day.
            </p>
            <a class="btn btn-primary btn-md" href="#">Read More</a>
         </div>
      </div>
   </div>
   <!-- service 2  -->
   <div class="col-lg-12 p-1">
      <div class="box-hover icon p-3">
         <!-- service icon -->
         <i class="flaticon-cake-5  circle"></i>
         <!-- service content -->
         <div class="service-content">
            <h5>Parfait</h5>
            <p>
               Yummy and healthy Parfait for you, your family and friends
            </p>
            <a class="btn btn-primary btn-md" href="#">Read More</a>
         </div>
      </div>
   </div>
   <!-- service 3  -->
   <div class="col-lg-12 p-1">
      <div class="box-hover icon p-3">
         <!-- service icon -->
         <i class="flaticon-cake-1  circle"></i>
         <!-- service content -->
         <div class="service-content">
            <h5>Catering</h5>
            <p>
               We cover your events and make them memeorable.
            </p>
            <a class="btn btn-primary btn-md" href="#">Read More</a>
         </div>
      </div>
   </div>
   <!-- service 5 -->
   <div class="col-lg-12 p-1">
      <div class="box-hover icon p-3">
         <!-- service icon -->
         <i class="flaticon-cooking circle"></i>
         <!-- service content -->
         <div class="service-content">
            <h5>Custom orders</h5>
            <p>
               We also delivery as you wish. Your satisfaction is our concern.
            </p>
            <a class="btn btn-primary btn-md" href="#">Read More</a>
         </div>
      </div>
   </div>
   <!-- service 5 -->
   <div class="col-lg-12 p-1">
      <div class="box-hover icon p-3">
         <!-- service icon -->
         <i class="flaticon-delivery  circle"></i>
         <!-- service content -->
         <div class="service-content">
            <h5>Quick Delivery</h5>
            <p>
               Fast and Efficient delivery all the way to your door step.
            </p>
            <a class="btn btn-primary btn-md" href="#">Read More</a>
         </div>
      </div>
   </div>
</div>