<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <!--[if IE]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <![endif]-->
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <meta name="description" content="">
   <meta name="author" content="">
   <!-- page title -->
   <title>Heyogo and Foods</title>
   <!--[if lt IE 9]>
      <script src="js/respond.js"></script>
      <![endif]-->
   <!-- Font files -->
   <link href="https://fonts.googleapis.com/css?family=Satisfy:400,400i,700,700i%7CNunito:300,400,700" rel="stylesheet">
   <link href="fonts/flaticon/flaticon.css" rel="stylesheet" type="text/css">
   <link href="fonts/fontawesome/fontawesome-all.min.css" rel="stylesheet" type="text/css">
   <!-- Favicons-->
   <link rel="apple-touch-icon" sizes="72x72" href="favicons/apple-icon-72x72.png">
   <link rel="apple-touch-icon" sizes="114x114" href="favicons/apple-icon-114x114.png">
   <link rel="shortcut icon" href="favicons/favicon.ico" type="image/x-icon">
   <!-- Bootstrap core CSS -->
   <link href="custom/bootstrap/css/bootstrap.min.css" rel="stylesheet">
   <!-- style CSS -->
   <link href="css/style.css" rel="stylesheet">
   <!-- plugins CSS -->
   <link href="css/plugins.css" rel="stylesheet">
   <!-- Colors CSS -->
   <link href="styles/maincolors.css" rel="stylesheet">
   <!-- LayerSlider CSS -->
   <link rel="stylesheet" href="custom/layerslider/css/layerslider.css">
   <!-- Prefix free -->
   <script src="js/prefixfree.min.js"></script>

   <!-- Switcher Only -->
   <link rel="stylesheet" id="switcher-css" type="text/css" href="switcher/css/switcher.css" media="all" />
   <!-- END Switcher Styles -->
   <!-- Demo Examples (For Module #3) -->
   <link rel="alternate stylesheet" type="text/css" href="styles/maincolors.css" title="maincolors" media="all" />
   <link rel="alternate stylesheet" type="text/css" href="styles/birthdaycake.css" title="birthdaycake" media="all" />
   <link rel="alternate stylesheet" type="text/css" href="styles/chocolate.css" title="chocolate" media="all" />
   <link rel="alternate stylesheet" type="text/css" href="styles/weddingcake.css" title="weddingcake" media="all" />
   <link rel="alternate stylesheet" type="text/css" href="styles/redvelvet.css" title="redvelvet" media="all" />
   <link rel="alternate stylesheet" type="text/css" href="styles/blueberry.css" title="blueberry" media="all" />
</head>
<!-- ==== body starts ==== -->

<body id="top">
   <!-- Preloader -->
   <div id="preloader">
      <div class="spinner">
         <div class="bounce1"></div>
         <div class="bounce2"></div>
         <div class="bounce3"></div>
      </div>
   </div>
   <!-- ===== Page Content ===== -->
   {{{body}}}
  
   <!-- Bootstrap core & Jquery -->
   <script src="custom/jquery/jquery.min.js"></script>
   <script src="custom/bootstrap/js/bootstrap.min.js"></script>
   <!-- Custom Js -->
   <script src="js/custom.js"></script>
   <script src="js/plugins.js"></script>
   <!-- number counter script -->
   <script src="js/counter.js"></script>
   <!-- Bootstrap Select Tool (For Module #4) -->
   <script src="switcher/js/bootstrap-select.js"></script>
   <!-- All Scripts & Plugins -->
   <script src="switcher/js/dmss.js"></script>
</body>

</html><!-- GreenSock -->
<script src="custom/layerslider/js/greensock.js"></script>
<!-- LayerSlider script files -->
<script src="custom/layerslider/js/layerslider.transitions.js"></script>
<script src="custom/layerslider/js/layerslider.kreaturamedia.jquery.js"></script>
<script src="custom/layerslider/js/layerslider.load.js"></script>