
   <!-- ===== Page Content ===== -->
   <div class="container-fluid">
      <!-- ===== Sidebar starts ===== -->
      {{> sidebar}}
      <!-- ===== / sidebar ends ===== -->
      <!-- ===== content starts  ===== -->
      <div id="content" class="col-md-10 split">
         <!--content-wrapper  -->
         <div class="content-wrapper">
            <!--divider-top  -->
            <div class="divider-top">
               <!--header-info  -->
               <div class="header-info col-md-12">
                  <!--inside-wrapper  -->
                  <div class="inside-wrapper container">
                     <!-- Heading -->
                     <h1>About Us</h1>
                     <!-- Breadcrumb -->
                     <ul class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li class="active">About Us</li>
                     </ul>
                     <!--/Breadcrumb -->
                  </div>
                  <!--/inside-wrapper  -->
               </div>
               <!--/header-info  -->
               <!-- image gradient overlay-->
               <div class="gradient-overlay"></div>
            </div>
            <!-- /divider-top -->
            <div class="content-box container">
               <!-- ===== section starts  ===== -->
               <section class="inside-page">
                  <div class="inside-wrapper container">
                     <!-- row -->
                     <div class="row">
                        <div class="col-md-5">
                           <!-- image -->
                           <img class="img-responsive img-rounded center-block" src="img/slider/slide1.jpg" alt="">
                        </div>
                        <!-- /col-md-->
                        <div class="col-md-7 res-margin">
                           <h2>Quality yogurt and pastries</h2>
                           <p><strong>Once upon a time in the city of Owerri, a young couple was in the habit of sending love packages of dessert, food and bottles of yogurt (all freshly made from their home kitchen) to families and friends around the city.</strong></p>
                           <p> In 2019, this little act of love which was prompted by their passion and desire to share and connect with friends went beyond that to become a new food movement in Nigeria; Heyogo and Foods  – ”Leading a happier and healthier live by what we eat and drink </p>
                           <!-- list-->
                           <p><strong>Welcome  to our world</strong></p>
                           <ul class="custom pl-0">
                              
                              <li>We have been devoted to carefully building our team and improving our products to ensure our customers are happier and healthier </li>
                             
                           </ul>
                        </div>
                        <!-- /col-md-->
                     </div>
                     <!--/row -->
                     <!-- number counter-->
                     <div id="counter" class="row margin1">
                        <div class="col-lg-12">
                           <!-- Counter -->
                           <div class="col-md-4">
                              <div class="box-hover icon counter p-2">
                                 <div class="counter-wrapper">
                                    <i class="counter-icon flaticon-social-care"></i>
                                    <!-- insert your final value on data-count= -->
                                    <div class="counter-value" data-count="100">0</div>
                                    <h4 class="title">Happy Customers</h4>
                                 </div>
                              </div>
                              <!-- /counter -->
                           </div>
                           <!-- /col-lg -->
                           <!-- Counter -->
                           <div class="col-md-4 res-margin">
                              <div class="box-hover icon counter p-2">
                                 <div class="counter-wrapper">
                                    <i class="counter-icon  flaticon-cake-7"></i>
                                    <!-- insert your final value on data-count= -->
                                    <div class="counter-value" data-count="25">0</div>
                                    <h4 class="title">Yoghurt Options</h4>
                                 </div>
                              </div>
                              <!-- /counter -->
                           </div>
                           <!-- /col-lg -->
                           <!-- Counter -->
                           <div class="col-md-4 res-margin">
                              <div class="box-hover icon counter p-2">
                                 <div class="counter-wrapper">
                                    <i class="counter-icon flaticon-delivery"></i>
                                    <!-- insert your final value on data-count= -->
                                    <div class="counter-value" data-count="60">0</div>
                                    <h4 class="title">Deliveries Made</h4>
                                 </div>
                              </div>
                              <!-- /counter -->
                           </div>
                           <!-- /col-lg -->
                        </div>
                        <!-- /row -->
                     </div>
                     <!-- /counter -->
                     <!-- row -->
                     <div class="row margin1 hidden">
                        <div class="col-md-12">
                           <h3 class="title">Meet Our Team</h3>
                           <!-- Team carousel -->
                           <div id="owl-team" class="owl-carousel owl-theme margin1">
                              <!-- Team member -->
                              <figure class="col-lg-12 team">
                                 <!-- image -->
                                 <img src="img/team/team1.jpg" class="img-fluid img-circle" alt="" />
                                 <!-- social icons -->
                                 <div class="icons">
                                    <a href="#"><i class="fa fa-envelope"></i></a>
                                    <a href="#"> <i class="fab fa-facebook-f"></i></a>
                                    <a href="#"> <i class="fab fa-instagram"></i></a>
                                 </div>
                                 <!-- caption -->
                                 <figcaption>
                                    <h4>Mary Smith</h4>
                                    <h6>Cake Expert</h6>
                                    <p>
                                       Accusamus necessitatibus modi adipisci officia libero accusantium esse hic,
                                       obcaecati, ullam, laboriosa
                                    </p>
                                 </figcaption>
                              </figure>
                              <!-- /figure -->
                              <!-- Team member -->
                              <figure class="col-lg-12 team">
                                 <!-- image -->
                                 <img src="img/team/team2.jpg" class="img-fluid img-circle" alt="" />
                                 <!-- social icons -->
                                 <div class="icons">
                                    <a href="#"><i class="fa fa-envelope"></i></a>
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                 </div>
                                 <!-- caption -->
                                 <figcaption>
                                    <h4>John Doe</h4>
                                    <h6>Baker</h6>
                                    <p>
                                       Accusamus necessitatibus modi adipisci officia libero accusantium esse hic,
                                       obcaecati, ullam, laboriosa
                                    </p>
                                 </figcaption>
                              </figure>
                              <!-- /figure -->
                              <!-- Team member -->
                              <figure class="col-lg-12 team">
                                 <!-- image -->
                                 <img src="img/team/team3.jpg" class="img-fluid img-circle" alt="" />
                                 <!-- social icons -->
                                 <div class="icons">
                                    <a href="#"><i class="fa fa-envelope"></i></a>
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                 </div>
                                 <!-- caption -->
                                 <figcaption>
                                    <h4>Alissa Silva</h4>
                                    <h6>Wedding Cake Expert</h6>
                                    <p>
                                       Accusamus necessitatibus modi adipisci officia libero accusantium esse hic,
                                       obcaecati, ullam, laboriosa
                                    </p>
                                 </figcaption>
                              </figure>
                              <!-- /figure -->
                              <!-- Team member -->
                              <figure class="col-lg-12 team">
                                 <!-- image -->
                                 <img src="img/team/team4.jpg" class="img-fluid img-circle" alt="" />
                                 <!-- social icons -->
                                 <div class="icons">
                                    <a href="#"><i class="fa fa-envelope"></i></a>
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                 </div>
                                 <!-- caption -->
                                 <figcaption>
                                    <h4>Ana Doe</h4>
                                    <h6>Cake Assistant</h6>
                                    <p>
                                       Accusamus necessitatibus modi adipisci officia libero accusantium esse hic,
                                       obcaecati, ullam, laboriosa
                                    </p>
                                 </figcaption>
                              </figure>
                              <!-- /figure -->
                              <!-- Team member -->
                              <figure class="col-lg-12 team">
                                 <!-- image -->
                                 <img src="img/team/team5.jpg" class="img-fluid img-circle" alt="" />
                                 <!-- social icons -->
                                 <div class="icons">
                                    <a href="#"><i class="fa fa-envelope"></i></a>
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                 </div>
                                 <!-- caption -->
                                 <figcaption>
                                    <h4>Lucas Manson</h4>
                                    <h6>Owner</h6>
                                    <p>
                                       Accusamus necessitatibus modi adipisci officia libero accusantium esse hic,
                                       obcaecati, ullam, laboriosa
                                    </p>
                                 </figcaption>
                              </figure>
                              <!-- /figure -->
                           </div>
                           <!-- /owl-carousel -->
                        </div>
                        <!-- /col-md -->
                     </div>
                     <!-- /row -->
                     <!-- row -->
                     <div class="row margin1">
                        <div class="col-md-12">
                           <h3 class="col-md-12 title">What our clients say</h3>
                           <!-- Testimonial carousel-->
                           <div id="owl-testimonial" class="margin1 col-md-12 owl-carousel owl-theme">
                              <!-- testimonial -->
                              <div class="testimonial box-hover">
                                 <div class="content">
                                    <p class="description">
                                       Hi, I am health and fitness enthusiast, Heyogo has been my favourite post-work out refreshment. Every scoop is rich completely and totally refreshing. My health matters a lot to me and that is why I choose Heyogo
                                    </p>
                                 </div>
                                 <!-- /content -->
                                 <div class="testimonial-pic">
                                    <img src="img/user.png" class="img-fluid" alt="">
                                 </div>
                                 <!-- /testimonial-pic -->
                                 <div class="testimonial-review">
                                    <h6 class="testimonial-title">Siraj</h6>
                                    {{!-- <span>Teacher</span> --}}
                                 </div>
                                 <!-- /testimonial-review -->
                              </div>
                              <!-- /testimonial -->
                              <!-- testimonial -->
                              <div class="testimonial box-hover">
                                 <div class="content">
                                    <p class="description">
                                       I love Heyogo so much! My absolute favourite breakfast - It’s simple, tastes great and it’s totally filling. This is exactly what I was looking for (and more!)
                                    </p>
                                 </div>
                                 <!-- /content -->
                                 <div class="testimonial-pic">
                                    <img src="img/user.png" class="img-fluid" alt="">
                                 </div>
                                 <!-- /testimonial-pic -->
                                 <div class="testimonial-review">
                                    <h6 class="testimonial-title">Chinedu</h6>
                                    {{!-- <span>Doctor</span> --}}
                                 </div>
                                 <!-- /testimonial-review -->
                              </div>
                              <!-- /testimonial -->
                              <!-- testimonial -->
                              <div class="testimonial box-hover">
                                 <div class="content">
                                    <p class="description">
                                       Heyogo and foods, You guys are doing a great work; it’s appreciated in our home – Everyone of us is hooked to the fridge.
                                    </p>
                                 </div>
                                 <!-- /content -->
                                 <div class="testimonial-pic">
                                    <img src="img/user.png" class="img-fluid" alt="">
                                 </div>
                                 <!-- /testimonial-pic -->
                                 <div class="testimonial-review">
                                    <h6 class="testimonial-title">Chinelo</h6>
                                    {{!-- <span>Librarian</span> --}}
                                 </div>
                                 <!-- /testimonial-review -->
                              </div>
                              <!-- /testimonial -->
                               <!-- testimonial -->
                              <div class="testimonial box-hover">
                                 <div class="content">
                                    <p class="description">
                                      Best Greek Yogurt in Owerri!!!!  Very Nice
                                    </p>
                                 </div>
                                 <!-- /content -->
                                 <div class="testimonial-pic">
                                    <img src="img/user.png" class="img-fluid" alt="">
                                 </div>
                                 <!-- /testimonial-pic -->
                                 <div class="testimonial-review">
                                    <h6 class="testimonial-title">Jerry</h6>
                                    {{!-- <span>Librarian</span> --}}
                                 </div>
                                 <!-- /testimonial-review -->
                              </div>
                              <!-- /testimonial -->
                           </div>
                           <!-- /owl-testimonial -->
                        </div>
                        <!-- /col-md-12 -->
                     </div>
                     <!-- /row -->
                  </div>
                  <!--/ inside-wrapper  -->
               </section>
               <!-- footer -->
               {{> footer}}
               <!-- / footer-->
            </div>
            <!-- / content-box -->
         </div>
         <!-- /content-wrapper -->
      </div>
      <!-- /content -->
   </div>
   <!-- /container-fluid -->
  