
   <!-- ===== Page Content ===== -->
   <div class="container-fluid">
      <!-- ===== Sidebar starts ===== -->
      {{> sidebar}}
      <!-- ===== / sidebar ends ===== -->
      <!-- ===== content starts  ===== -->
      <div id="content" class="col-md-10 split">
         <!--content-wrapper  -->
         <div class="content-wrapper">
            <!--divider-top  -->
            <div class="divider-top">
               <!--header-info  -->
               <div class="header-info col-md-12">
                  <!--inside-wrapper  -->
                  <div class="inside-wrapper container">
                     <!-- Heading -->
                     <h1>Contact</h1>
                     <!-- Breadcrumb -->
                     <ul class="breadcrumb">
                        <li><a href="index-2.html">Home</a></li>
                        <li class="active">Contact</li>
                     </ul>
                     <!--/Breadcrumb -->
                  </div>
                  <!--/inside-wrapper  -->
               </div>
               <!--/header-info  -->
               <!-- image gradient overlay-->
               <div class="gradient-overlay"></div>
            </div>
            <!-- /divider-top -->
            <div class="content-box container">
               <!-- ===== section starts  ===== -->
               <section class="inside-page">
                  <div class="inside-wrapper container">
                     <h2>Get in Touch with us</h2>
                     <p> Donec commodo sodales ex, scelerisque laoreet nibh hendrerit id. In aliquet magna nec Li
                        lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules, Etiam
                        rhoncus leo a dolor placerat, nec elementum ipsum convall. </p>
                     <p>Aliquam erat volutpat In id fermentum augue, ut pellentesque leo. Maecenas at arcu risus. Donec
                        commodo sodales ex, scelerisque laoreet nibh hendrerit id. In aliquet magna nec lobortis
                        maximus. Etiam rhoncus leo a dolor placerat, nec elementum ipsum convall.</p>
                     <div class="row contact-boxes text-center margin1">
                        <div class="col-md-3">
                           <div class="box-hover icon p-2">
                              <!---icon-->
                              <i class="fa fa-envelope small-icon"></i>
                              <!-- contact-icon info-->
                              <div class="contact-icon-info">
                                 <h5>Email</h5>
                                 <p>Email address: <a href="mailto:email@yoursite.com">email@yoursite.com</a></p>
                              </div>
                           </div>
                        </div>
                        <!-- /contact-icon-->
                        <div class="col-md-3 res-margin">
                           <div class="box-hover icon p-2">
                              <!---icon-->
                              <i class="fa fa-clock small-icon"></i>
                              <!-- contact-icon info-->
                              <div class="contact-icon-info">
                                 <h5>Hours</h5>
                                 <p>mon - fri: 9am to 6pm
                                    <br />Weekends - closed
                                 </p>
                              </div>
                           </div>
                        </div>
                        <!-- /contact-icon-->
                        <div class="col-md-3 res-margin">
                           <div class="box-hover icon p-2">
                              <!---icon-->
                              <i class="fa fa-map-marker small-icon"></i>
                              <!-- contact-icon info-->
                              <div class="contact-icon-info">
                                 <h5>Our Location</h5>
                                 <p>Cake Street 123 Lorem ipsum - New York</p>
                              </div>
                           </div>
                        </div>
                        <!-- /contact-icon-->
                        <div class="col-md-3 res-margin">
                           <div class="box-hover icon p-2">
                              <!---icon-->
                              <i class="fa fa-phone small-icon"></i>
                              <!-- contact-icon info -->
                              <div class="contact-icon-info">
                                 <h5>Call us</h5>
                                 <p>Phone number: <br />(123) 456-789</p>
                              </div>
                           </div>
                           <!-- /contact-icon-->
                        </div>
                        <!-- /col-md-4-->
                     </div>
                     <!-- /row contact-boxes-->
                     <div class="row margin1">
                        <div class="col-md-7">
                           <!-- contact info -->
                           <div class="contact-info">
                              <h4 class="title no-margin-top">Write us a Message</h4>
                              <!-- Form Starts -->
                              <div id="contact_form">
                                 <div class="form-group">
                                    <!-- row -->
                                    <div class="row">
                                       <div class="col-md-6">
                                          <label>Name<span class="required">*</span></label>
                                          <input type="text" name="name" class="form-control input-field" required="">
                                       </div>
                                       <div class="col-md-6">
                                          <label>Email Adress <span class="required">*</span></label>
                                          <input type="email" name="email" class="form-control input-field" required="">
                                       </div>
                                    </div>
                                    <!-- /row -->
                                    <!-- row -->
                                    <div class="row">
                                       <div class="col-md-12">
                                          <label>Subject</label>
                                          <input type="text" name="subject" class="form-control input-field">
                                       </div>
                                       <div class="col-md-12">
                                          <label>Message<span class="required">*</span></label>
                                          <textarea name="message" id="message" class="textarea-field form-control"
                                             rows="3" required=""></textarea>
                                       </div>
                                    </div>
                                    <!-- /row -->
                                    <button type="submit" id="submit_btn" value="Submit" class="btn btn-primary">Send
                                       message</button>
                                 </div>
                                 <!-- Contact results -->
                                 <div id="contact_results"></div>
                              </div>
                              <!-- /contact-form -->
                           </div>
                           <!-- /contact-info -->
                        </div>
                        <!-- /col-md- -->
                        <div class="col-md-5">
                           <!-- map-->
                           <div id="map-canvas"></div>
                        </div>
                        <!-- /col-md--->
                     </div>
                     <!-- /row-->
                  </div>
                  <!-- /inside-wrapper-->
               </section>
               <!-- footer -->
               {{> footer}}
            <!-- / footer-->
            </div>
            <!-- / content-box -->
         </div>
         <!-- /content-wrapper -->
      </div>
      <!-- /content -->
   </div>
   <!-- /container-fluid -->
   