


   <!-- ===== Page Content ===== -->
   <div class="container-fluid">
      <!-- ===== Sidebar starts ===== -->
      {{> sidebar}}
      <!-- ===== / sidebar ends ===== -->
      <!-- ===== content starts  ===== -->
      <div id="content" class="col-md-10 split">
         <!--content-wrapper  -->
         <div class="content-wrapper">
            <!--divider-top  -->
            <div class="divider-top">
               <!--header-info  -->
               <div class="header-info col-md-12">
                  <!--inside-wrapper  -->
                  <div class="inside-wrapper container">
                     <!-- Heading -->
                     <h1>Gallery</h1>
                     <!-- Breadcrumb -->
                     <ul class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Gallery</li>
                     </ul>
                     <!--/Breadcrumb -->
                  </div>
                  <!--/inside-wrapper  -->
               </div>
               <!--/header-info  -->
               <!-- image gradient overlay-->
               <div class="gradient-overlay"></div>
            </div>
            <!-- /divider-top -->
            <div class="content-box container">
               <!-- ===== section starts  ===== -->
               <section class="inside-page">
                  <div class="inside-wrapper container">
                     <h2>Our Image gallery</h2>
                     <p>Aliquam erat volutpat In id fermentum augue, ut pellentesque leo. Maecenas at arcu risus. Donec
                        commodo sodales ex, scelerisque laoreet nibh hendrerit id. In aliquet magna nec lobortis
                        maximus. Etiam rhoncus leo a dolor placerat, nec elementum ipsum convall.</p>
                     <!-- centered Gallery navigation -->
                     <ul class="nav nav-pills cat margin1">
                        <li class="active"><a href="#" data-filter="*">All</a></li>
                        <li><a href="#" data-filter=".birthday">Birthday Cakes</a></li>
                        <li><a href="#" data-filter=".special">Special Cakes</a></li>
                        <li><a href="#" data-filter=".cupcakes">Cupcakes</a></li>
                     </ul>
                     <!-- /ul -->
                     <!-- Gallery -->
                     <div id="gallery-isotope" class="lightbox margin1">
                        <!-- Image 1 -->
                        <div class="special col-lg-4 col-sm-6 col-md-6">
                           <div class="isotope-item">
                              <div class="gallery-thumb">
                                 <img class="img-responsive" src="img/gallery/gallery1.jpg" alt="">
                                 <a href="img/gallery/gallery1.jpg" title="You can add caption to pictures.">
                                    <span class="overlay-mask"></span>
                                 </a>
                              </div>
                           </div>
                        </div>
                        <!-- Image 2 -->
                        <div class="special col-lg-4 col-sm-6 col-md-6">
                           <div class="isotope-item">
                              <div class="gallery-thumb">
                                 <img class="img-responsive" src="img/gallery/gallery2.jpg" alt="">
                                 <a href="img/gallery/gallery2.jpg" title="You can add caption to pictures.">
                                    <span class="overlay-mask"></span>
                                 </a>
                              </div>
                           </div>
                        </div>
                        <!-- Image 3 -->
                        <div class="birthday col-lg-4 col-sm-6 col-md-6">
                           <div class="isotope-item">
                              <div class="gallery-thumb">
                                 <img class="img-responsive" src="img/gallery/gallery3.jpg" alt="">
                                 <a href="img/gallery/gallery3.jpg" title="You can add caption to pictures.">
                                    <span class="overlay-mask"></span>
                                 </a>
                              </div>
                           </div>
                        </div>
                        <!-- Image 4 -->
                        <div class="birthday col-lg-4 col-sm-6 col-md-6">
                           <div class="isotope-item">
                              <div class="gallery-thumb">
                                 <img class="img-responsive" src="img/gallery/gallery4.jpg" alt="">
                                 <a href="img/gallery/gallery4.jpg" title="You can add caption to pictures.">
                                    <span class="overlay-mask"></span>
                                 </a>
                              </div>
                           </div>
                        </div>
                        <!-- Image 5 -->
                        <div class="special col-lg-4 col-sm-6 col-md-6">
                           <div class="isotope-item">
                              <div class="gallery-thumb">
                                 <img class="img-responsive" src="img/gallery/gallery5.jpg" alt="">
                                 <a href="img/gallery/gallery5.jpg" title="You can add caption to pictures.">
                                    <span class="overlay-mask"></span>
                                 </a>
                              </div>
                           </div>
                        </div>
                        <!-- Image 6 -->
                        <div class="cupcakes col-lg-4 col-sm-6 col-md-6">
                           <div class="isotope-item">
                              <div class="gallery-thumb">
                                 <img class="img-responsive" src="img/gallery/gallery6.jpg" alt="">
                                 <a href="img/gallery/gallery6.jpg" title="You can add caption to pictures.">
                                    <span class="overlay-mask"></span>
                                 </a>
                              </div>
                           </div>
                        </div>
                        <!-- Image 7 -->
                        <div class="birthday col-lg-4 col-sm-6 col-md-6">
                           <div class="isotope-item">
                              <div class="gallery-thumb">
                                 <img class="img-responsive" src="img/gallery/gallery7.jpg" alt="">
                                 <a href="img/gallery/gallery7.jpg" title="You can add caption to pictures.">
                                    <span class="overlay-mask"></span>
                                 </a>
                              </div>
                           </div>
                        </div>
                        <!-- Image 8 -->
                        <div class="special col-lg-4 col-sm-6 col-md-6">
                           <div class="isotope-item">
                              <div class="gallery-thumb">
                                 <img class="img-responsive" src="img/gallery/gallery8.jpg" alt="">
                                 <a href="img/gallery/gallery8.jpg" title="You can add caption to pictures.">
                                    <span class="overlay-mask"></span>
                                 </a>
                              </div>
                           </div>
                        </div>
                        <!-- Image 9 -->
                        <div class="birthday col-lg-4 col-sm-6 col-md-6">
                           <div class="isotope-item">
                              <div class="gallery-thumb">
                                 <img class="img-responsive" src="img/gallery/gallery9.jpg" alt="">
                                 <a href="img/gallery/gallery9.jpg" title="You can add caption to pictures.">
                                    <span class="overlay-mask"></span>
                                 </a>
                              </div>
                           </div>
                        </div>
                        <!-- Image 10 -->
                        <div class="cupcakes col-lg-4 col-sm-6 col-md-6">
                           <div class="isotope-item">
                              <div class="gallery-thumb">
                                 <img class="img-responsive" src="img/gallery/gallery10.jpg" alt="">
                                 <a href="img/gallery/gallery10.jpg" title="You can add caption to pictures.">
                                    <span class="overlay-mask"></span>
                                 </a>
                              </div>
                           </div>
                        </div>
                        <!-- Image 11 -->
                        <div class="special col-lg-4 col-sm-6 col-md-6">
                           <div class="isotope-item">
                              <div class="gallery-thumb">
                                 <img class="img-responsive" src="img/gallery/gallery11.jpg" alt="">
                                 <a href="img/gallery/gallery11.jpg" title="You can add caption to pictures.">
                                    <span class="overlay-mask"></span>
                                 </a>
                              </div>
                           </div>
                        </div>
                        <!-- Image 12 -->
                        <div class="special col-lg-4 col-sm-6 col-md-6">
                           <div class="isotope-item">
                              <div class="gallery-thumb">
                                 <img class="img-responsive" src="img/gallery/gallery12.jpg" alt="">
                                 <a href="img/gallery/gallery12.jpg" title="You can add caption to pictures.">
                                    <span class="overlay-mask"></span>
                                 </a>
                              </div>
                           </div>
                        </div>
                        <!-- Image 13 -->
                        <div class="cupcakes col-lg-4 col-sm-6 col-md-6">
                           <div class="isotope-item">
                              <div class="gallery-thumb">
                                 <img class="img-responsive" src="img/gallery/gallery13.jpg" alt="">
                                 <a href="img/gallery/gallery13.jpg" title="You can add caption to pictures.">
                                    <span class="overlay-mask"></span>
                                 </a>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- /gallery-isotope-->
                  </div>
                  <!-- /inside-wrapper -->
               </section>
              <!-- footer -->
               {{> footer}}
               <!-- / footer-->
            </div>
            <!-- / content-box -->
         </div>
         <!-- /content-wrapper -->
      </div>
      <!-- /content -->
   </div>
   <!-- /container-fluid -->
   