<div class="container-fluid">
   <!-- ===== Sidebar starts ===== -->
   {{> sidebar}}
   <!-- ===== / sidebar ends ===== -->
   <!-- ===== content starts  ===== -->
   <div id="content" class="col-md-10 split">
      <div class="content-wrapper">
         <!-- Parallax Slider -->
         <div id="slider" class="parallax-slider" style="width:1200px;margin:0 auto;margin-bottom: 0px;">
            <!-- Slide 1 -->
            <div class="ls-slide" data-ls="duration:6000; transition2d:7; kenburnszoom:out; kenburnsscale:1.2;">
               <!-- background image  -->
               <img src="img/slider/slide1.jpg" class="ls-bg" alt="" />
               <!-- text  -->
               <div class="ls-l header-wrapper"
                  data-ls="offsetyin:150; durationin:700; delayin:200; easingin:easeOutQuint; rotatexin:20; scalexin:1.4; offsetyout:600; durationout:400;">
                  <div class="header-text">
                     <h1><span>Welcome to</span> <br />Heyogo & Foods</h1>
                     <p class="header-p">Leading a happier and healthier live by what we eat and drink </p>
                     <div class="hidden-small">
                        <a class="btn btn-primary" href="menu.html">Our Menu</a>
                     </div>
                     <!--/hidden-small -->
                  </div>
                  <!-- header-text  -->
               </div>
               <!-- ls-l  -->
            </div>
            <!-- ls-slide -->
            <!-- Slide 2 -->
            <div class="ls-slide" data-ls="duration:6000; transition2d:7; kenburnszoom:out; kenburnsscale:1.2;">
               <!-- background image  -->
               <img src="img/slider/slide2.jpg" class="ls-bg" alt="" />
               <!-- text  -->
               <div class="ls-l header-wrapper"
                  data-ls="offsetyin:150; durationin:700; delayin:200; easingin:easeOutQuint; rotatexin:20; scalexin:1.4; offsetyout:600; durationout:400;">
                  <div class="header-text">
                     <h1><span>Healthy food</span> <br>for all</h1>
                     <p class="header-p">We offer catering services for any kind of event! We make your events
                        memeorable</p>
                     <!--the div below is hidden on small screens  -->
                     <div class="hidden-small"><a class="btn btn-primary" href="contact.html">Contact us</a>
                     </div>
                     <!--/hidden-small -->
                  </div>
                  <!-- header-text  -->
               </div>
               <!-- ls-l  -->
            </div>
            <!-- ls-slide -->
            <!-- Slide 3 -->
            <div class="ls-slide" data-ls="duration:6000; transition2d:7; kenburnszoom:out; kenburnsscale:1.2;">
               <!-- background image  -->
               <img src="img/slider/slide3.jpg" class="ls-bg" alt="" />
               <!-- text  -->
               <div class="ls-l header-wrapper"
                  data-ls="offsetyin:150; durationin:700; delayin:200; easingin:easeOutQuint; rotatexin:20; scalexin:1.4; offsetyout:600; durationout:400;">
                  <div class="header-text">
                     <h1><span>Welcome to</span> <br />Heyogo & Foods</h1>
                     <p class="header-p">We offer high quality, delicious, and nutritious meals! See our menu for more
                        information</p>
                     <!--the div below is hidden on small screens  -->
                     <div class="hidden-small">
                        <a class="btn btn-primary" href="menu.html">Our Menu</a>
                     </div>
                     <!--/hidden-small -->
                  </div>
                  <!-- header-text  -->
               </div>
               <!-- ls-l  -->
            </div>
            <!-- ls-slide -->
            <!-- Slide 4 -->
            <div class="ls-slide" data-ls="duration:6000; transition2d:7; kenburnszoom:out; kenburnsscale:1.2;">
               <!-- background image  -->
               <img src="img/slider/slide4.jpg" class="ls-bg" alt="" />
               <!-- text  -->
               <div class="ls-l header-wrapper"
                  data-ls="offsetyin:150; durationin:700; delayin:200; easingin:easeOutQuint; rotatexin:20; scalexin:1.4; offsetyout:600; durationout:400;">
                  <div class="header-text">
                     <h1><span>Healthy food</span> <br>for all</h1>
                     <p class="header-p">We offer catering services for any kind of event! Contact us to make an
                        order</p>
                     <!--the div below is hidden on small screens  -->
                     <div class="hidden-small">
                        <a class="btn btn-primary" href="contact.html">Contact us</a>
                     </div>
                     <!--/hidden-small -->
                  </div>
                  <!-- header-text  -->
               </div>
               <!-- ls-l  -->
            </div>
            <!-- ls-slide -->
         </div>
         <!-- /slider -->
         <!--divider-home -->
         <div class="divider-top divider-home">
         </div>
         <!-- /divider-home -->
         <!-- ===== content-box starts  ===== -->
         <div class="content-box container">
            <section class="inside-page">
               <div class="inside-wrapper container">
                  <div class="col-md-12">
                     <h2 class="text-center-sm">Made with love</h2>
                     <img class="img-responsive img-rounded pull-right-lg col-md-4 center-block"
                        src="img/gallery/gallery6.jpg" alt="">
                     <p class="lead res-margin">We offer on-demand bespoke recipes and packaging for events and special
                        occasions like birthdays, weddings, anniversary celebrations and lots more
                     </p>
                     <p>Our team of Registered Dietitian-Nutritionists specialize in helping with Nutrition services
                        <i>(food menu plan and assessment)</i>, weight loss/weight gain, therapeutic diets <i>(Diabetes,
                           high
                           Blood Pressure etc…)</i> and lots more.
                     </p>
                  </div>
                  <!-- owl-carousel -->
                  {{> services-scroll}}
                  <!-- /owl-carousel -->
               </div>
            </section>
            <div class="bg-light">
               <section class="inside-page">
                  <div class="inside-wrapper container">
                     <div class="col-md-12">
                        <!-- Tabs -->
                        <ul class="nav nav-tabs">
                           <li class="active"><a data-toggle="tab" href="#A">Why Choose us?</a></li>
                           <li><a data-toggle="tab" href="#B">Nutrition</a></li>
                           <li><a data-toggle="tab" href="#C">Quality Ingredients</a></li>
                        </ul>
                        <!-- /nav-tabs -->
                        <!--/nav nav-tabs -->
                        <div class="tabbable">
                           <div class="tab-content">
                              <div class="tab-pane active in fade" id="A">
                                 <div class="col-md-5 p-2">
                                    <img class="img-responsive img-rounded center-block" src="img/tab1.jpg" alt=""
                                       style="max-height: 300px;">
                                 </div>
                                 <h3 class="text-center-sm">Why Choose us?</h3>
                                 <!-- about carousel -->
                                 <p><strong>Enjoy the Moment</strong></p>
                                 <p>With Heyogo, it’s all about you. Helping you raise good little humans. Giving you
                                    new and exciting flavors in unexpected ways. Sharing family moments that take us out
                                    of the kitchen. We might even take you to the movies if the right experience comes
                                    around.
                                    So let’s raise a spoon (or straw, or rip the top or unscrew the cap) to enjoying all
                                    that Heyogo and Foods has to offer. We hope you love it as much as we do!.
                                 </p>
                              </div>
                              <!-- /tab-pane -->
                              <div class="tab-pane fade" id="B">
                                 <h3 class="text-center-sm">Nutrition</h3>
                                 <div class="col-md-4 p-2 pull-right-lg">
                                    <img class="img-responsive img-rounded center-block" src="img/tab2.jpg" alt=""
                                       style="max-height:250px;">
                                 </div>
                                 <p> We know you are wondering what makes Greek yogurt different from regular yogurt.
                                    Don't worry we've got you covered.</p>
                                 <p><strong>Greek Yogurt Vs Regular Yogurt.</strong></p>
                                 <p>
                                    Regular and Greek Yogurt are both fermented dairy products, but Greek Yogurt is
                                    strained to make it much thicker and tangier than the regular Yogurt.
                                    Greek Yogurt packs twice as much protein and about half the amount of carbs and
                                    sugar as regular Yogurt.
                                    Both regular and Greek Yogurt may aid digestion,heart health and weight loss.
                                    Both regular and Greek Yogurt are highly nutritious,
                                    The choice is now yours.
                                 </p>
                              </div>
                              <!-- /tab-pane -->
                              <div class="tab-pane fade" id="C">
                                 <h3 class="text-center-sm">Quality Ingredients</h3>
                                 <p><strong>Packed With Simple Goodness</strong></p>
                                 <p>We do not add anything artificial</p>
                                 <p><strong>We’re proud to use only 100% natural ingredients.</strong></p>
                                 <p>We make it delicious and easy to eat nutritious at home and on the go. Like our
                                    yogurt that’s rich in protein and calcium, and made with live active cultures.
                                 </p>
                              </div>
                              <!-- /tab-pane -->
                           </div>
                           <!-- /tab-content -->
                        </div>
                        <!-- /tabbable -->
                     </div>
                     <!-- /col-md-12 -->
                  </div>
                  <!-- /inside-wrapper-->
               </section>
            </div>
            <!-- /bg-light -->
            <section class="inside-page hidden">
               <div class="inside-wrapper container">
                  <h2 class="text-center-sm">Latest Blog Posts</h2>
                  <div id="owl-posts" class="col-md-12 owl-carousel">
                     <!-- blog post -->
                     <div class="col-md-12 p-1">
                        <div class="post-slide box-hover">
                           <div class="post-img">
                              <a href="blog-single.html">
                                 <!-- Image -->
                                 <img class="img-responsive" src="img/blog/blogprev1.jpg" alt="">
                                 <!--date -->
                                 <div class="post-date">
                                    <span class="date">13</span>
                                    <span class="month">jan</span>
                                 </div>
                              </a>
                           </div>
                           <!-- post info -->
                           <div class="post-review">
                              <h5 class="post-title"><a href="blog-single.html">The Best pastries for easter time</a>
                              </h5>
                              <ul class="post-bar">
                                 <li><i class="fa fa-user"></i><a href="#">admin</a></li>
                                 <li><i class="fa fa-comment"></i><a href="#">7</a></li>
                              </ul>
                              <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                 Ad magni, nesciunt obcaecati possimus...</p>
                              <!-- button -->
                              <a class="btn btn-primary btn-md" href="blog-single.html">Read More</a>
                           </div>
                           <!--/post-review -->
                        </div>
                        <!--/post-slide -->
                     </div>
                     <!-- /col-md-12 -->
                     <!-- blog post -->
                     <div class="col-md-12 p-1">
                        <div class="post-slide box-hover">
                           <div class="post-img">
                              <a href="blog-single.html">
                                 <!-- Image -->
                                 <img class="img-responsive" src="img/blog/blogprev2.jpg" alt="">
                                 <!--date -->
                                 <div class="post-date">
                                    <span class="date">07</span>
                                    <span class="month">feb</span>
                                 </div>
                              </a>
                           </div>
                           <!-- post info -->
                           <div class="post-review">
                              <h5 class="post-title"><a href="blog-single.html">Order our new Red Velvet Cake </a>
                              </h5>
                              <ul class="post-bar">
                                 <li><i class="fa fa-user"></i><a href="#">admin</a></li>
                                 <li><i class="fa fa-comment"></i><a href="#">7</a></li>
                              </ul>
                              <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                 Ad magni, nesciunt obcaecati possimus...</p>
                              <!-- button -->
                              <a class="btn btn-primary btn-md" href="blog-single.html">Read More</a>
                           </div>
                           <!--/post-review -->
                        </div>
                        <!--/post-slide -->
                     </div>
                     <!-- /col-md-12 -->
                     <!-- blog post -->
                     <div class="col-md-12 p-1">
                        <div class="post-slide box-hover">
                           <div class="post-img">
                              <a href="blog-single.html">
                                 <!-- Image -->
                                 <img class="img-responsive" src="img/blog/blogprev3.jpg" alt="">
                                 <!--date -->
                                 <div class="post-date">
                                    <span class="date">13</span>
                                    <span class="month">feb</span>
                                 </div>
                              </a>
                           </div>
                           <!-- post info -->
                           <div class="post-review">
                              <h5 class="post-title"><a href="blog-single.html">Order your Valentines day Cake</a>
                              </h5>
                              <ul class="post-bar">
                                 <li><i class="fa fa-user"></i><a href="#">admin</a></li>
                                 <li><i class="fa fa-comment"></i><a href="#">7</a></li>
                              </ul>
                              <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                 Ad magni, nesciunt obcaecati possimus...</p>
                              <!-- button -->
                              <a class="btn btn-primary btn-md" href="blog-single.html">Read More</a>
                           </div>
                           <!--/post-review -->
                        </div>
                        <!--/post-slide -->
                     </div>
                     <!-- /col-md-12 -->
                     <!-- blog post -->
                     <div class="col-md-12 p-1">
                        <div class="post-slide  box-hover">
                           <div class="post-img">
                              <a href="blog-single.html">
                                 <!-- Image -->
                                 <img class="img-responsive" src="img/blog/blogprev4.jpg" alt="">
                                 <!--date -->
                                 <div class="post-date">
                                    <span class="date">22</span>
                                    <span class="month">feb</span>
                                 </div>
                              </a>
                           </div>
                           <!-- post info -->
                           <div class="post-review">
                              <h5 class="post-title"><a href="blog-single.html">Gingerbread decoration workshop</a>
                              </h5>
                              <ul class="post-bar">
                                 <li><i class="fa fa-user"></i><a href="#">admin</a></li>
                                 <li><i class="fa fa-comment"></i><a href="#">7</a></li>
                              </ul>
                              <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                 Ad magni, nesciunt obcaecati possimus...</p>
                              <!-- button -->
                              <a class="btn btn-primary btn-md" href="blog-single.html">Read More</a>
                           </div>
                           <!--/post-review -->
                        </div>
                        <!--/post-slide -->
                     </div>
                     <!-- /col-md-12 -->
                  </div>
                  <!-- alert box -->
                  {{> alert-box}}
                  <!-- /alert -->
               </div>
               <!-- /inside-wrapper -->
            </section>
            <!-- footer -->
            {{> footer}}
            <!-- / footer-->
         </div>
         <!-- / content-box -->
      </div>
      <!-- /content-wrapper -->
   </div>
   <!-- /content -->
</div>
<!-- /container-fluid -->