
   <!-- ===== Page Content ===== -->
   <div class="container-fluid">
      <!-- ===== Sidebar starts ===== -->
      {{> sidebar}}
      <!-- ===== / sidebar ends ===== -->
      <!-- ===== content starts  ===== -->
      <div id="content" class="col-md-10 split">
         <!--content-wrapper  -->
         <div class="content-wrapper">
            <!--divider-top  -->
            <div class="divider-top">
               <!--header-info  -->
               <div class="header-info col-md-12">
                  <!--inside-wrapper  -->
                  <div class="inside-wrapper container">
                     <!-- Heading -->
                     <h1>Our Services</h1>
                     <!-- Breadcrumb -->
                     <ul class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Our services</li>
                     </ul>
                     <!--/Breadcrumb -->
                  </div>
                  <!--/inside-wrapper  -->
               </div>
               <!--/header-info  -->
               <!-- image gradient overlay-->
               <div class="gradient-overlay"></div>
            </div>
            <!-- /divider-top -->
            <div class="content-box container">
               <!-- ===== section starts  ===== -->
               <section class="inside-page">
                  <div class="inside-wrapper container">
                     <!-- row -->
                     <div class="row">
                        <div class="col-md-7">
                           <h2>Cakes for all ocasions</h2>
                           <p>Aliquam erat volutpat In id fermentum augue, ut pellentesque leo. Maecenas at arcu risus.
                              Donec commodo sodales ex, scelerisque laoreet nibh hendrerit id. In aliquet magna nec
                              lobortis maximus. Etiam rhoncus leo a dolor placerat, nec elementum ipsum convall.</p>
                           <p> Donec commodo sodales ex, scelerisque laoreet nibh hendrerit id. In aliquet magna nec Li
                              lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules, Etiam
                              rhoncus leo a dolor placerat, nec elementum ipsum convall. </p>
                        </div>
                        <!-- image -->
                        <div class="col-md-5">
                           <img class="img-responsive img-rounded center-block" src="img/services/services.jpg" alt="">
                        </div>
                     </div>
                     <!--/row -->
                     <!-- owl-carousel -->
                     <div id="owl-services" class="owl-carousel owl-theme text-center res-margin">
                        <!-- service 1  -->
                        <div class="col-lg-12 p-1">
                           <div class="box-hover icon p-3">
                              <!-- service icon -->
                              <i class="flaticon-birthday-cake-2  circle"></i>
                              <!-- service content -->
                              <div class="service-content">
                                 <h5>Birthday Cakes</h5>
                                 <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum malesuada.
                                 </p>
                                 <a class="btn btn-primary btn-md" href="#">Read More</a>
                              </div>
                           </div>
                        </div>
                        <!-- service 2  -->
                        <div class="col-lg-12 p-1">
                           <div class="box-hover icon p-3">
                              <!-- service icon -->
                              <i class="flaticon-cake-5  circle"></i>
                              <!-- service content -->
                              <div class="service-content">
                                 <h5>Special Cakes</h5>
                                 <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum malesuada.
                                 </p>
                                 <a class="btn btn-primary btn-md" href="#">Read More</a>
                              </div>
                           </div>
                        </div>
                        <!-- service 3  -->
                        <div class="col-lg-12 p-1">
                           <div class="box-hover icon p-3">
                              <!-- service icon -->
                              <i class="flaticon-cake-10  circle"></i>
                              <!-- service content -->
                              <div class="service-content">
                                 <h5>Cupcakes & Sweets</h5>
                                 <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum malesuada.
                                 </p>
                                 <a class="btn btn-primary btn-md" href="#">Read More</a>
                              </div>
                           </div>
                        </div>
                        <!-- service 4 -->
                        <div class="col-lg-12 p-1">
                           <div class="box-hover icon p-3">
                              <!-- service icon -->
                              <i class="flaticon-cake-1  circle"></i>
                              <!-- service content -->
                              <div class="service-content">
                                 <h5>Catering</h5>
                                 <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum malesuada.
                                 </p>
                                 <a class="btn btn-primary btn-md" href="#">Read More</a>
                              </div>
                           </div>
                        </div>
                        <!-- service 5 -->
                        <div class="col-lg-12 p-1">
                           <div class="box-hover icon p-3">
                              <!-- service icon -->
                              <i class="flaticon-cooking circle"></i>
                              <!-- service content -->
                              <div class="service-content">
                                 <h5>Custom orders</h5>
                                 <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum malesuada.
                                 </p>
                                 <a class="btn btn-primary btn-md" href="#">Read More</a>
                              </div>
                           </div>
                        </div>
                        <!-- service 5 -->
                        <div class="col-lg-12 p-1">
                           <div class="box-hover icon p-3">
                              <!-- service icon -->
                              <i class="flaticon-delivery  circle"></i>
                              <!-- service content -->
                              <div class="service-content">
                                 <h5>Quick Delivery</h5>
                                 <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum malesuada.
                                 </p>
                                 <a class="btn btn-primary btn-md" href="#">Read More</a>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- /owl-carousel -->
                     <!-- row -->
                     <div class="row margin1">
                        <div class="col-md-5">
                           <h4 class="title no-margin-top">Frequently asked questions</h4>
                           <p>Fusce mollis imperdiet interdum donec eget metus auguen unc, Por scientie, musica, sport
                              etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li
                              pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua
                              franca: On refusa continuar payar custosi traductores.</p>
                        </div>
                        <div class="col-md-7">
                           <!-- Accordions -->
                           <div class="panel-group" id="accordion">
                              <!-- Question 1 -->
                              <div class="panel">
                                 <div class="panel-heading">
                                    <h6 class="panel-title">
                                       <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                          href="#collapse1">Do you offer vegan options?</a>
                                    </h6>
                                 </div>
                                 <!-- /panel-heading -->
                                 <div id="collapse1" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                       <p>Fusce mollis imperdiet interdum donec eget metus auguen unc vel mauris
                                          ultricies.</p>
                                    </div>
                                 </div>
                              </div>
                              <!--/panel -->
                              <!-- Question 2 -->
                              <div class="panel">
                                 <div class="panel-heading">
                                    <h6 class="panel-title">
                                       <a class="accordion-toggle collapsed" data-toggle="collapse"
                                          data-parent="#accordion" href="#collapse2">Do you offer catering services?</a>
                                    </h6>
                                 </div>
                                 <!-- /panel-heading -->
                                 <div id="collapse2" class="panel-collapse collapse">
                                    <div class="panel-body">
                                       <p>Fusce mollis imperdiet interdum donec eget metus auguen unc vel mauris
                                          ultricies.</p>
                                    </div>
                                 </div>
                              </div>
                              <!--/panel -->
                              <!-- Question 3 -->
                              <div class="panel">
                                 <div class="panel-heading">
                                    <h6 class="panel-title">
                                       <a class="accordion-toggle collapsed" data-toggle="collapse"
                                          data-parent="#accordion" href="#collapse3">How many days in advance should I
                                          order?</a>
                                    </h6>
                                 </div>
                                 <div id="collapse3" class="panel-collapse collapse">
                                    <div class="panel-body">
                                       <p>Fusce mollis imperdiet interdum donec eget metus auguen unc vel mauris
                                          ultricies.</p>
                                    </div>
                                 </div>
                              </div>
                              <!--/panel -->
                           </div>
                           <!-- /.accordion -->
                        </div>
                        <!-- /col-md- -->
                     </div>
                     <!-- /row -->
                     <!-- alert box -->
                     <div class="alert-bg alert alert-info col-md-12 margin1">
                        <h5>Custom Orders</h5>
                        <p>Laoreet nibh hendrerit id. In aliquet magna nec lobortis maximus. Etiam rhoncus leo a dolor
                           placerat, nec elementum ipsum convall.
                        </p>
                        <p>Etiam rhoncus leo a dolor placerat, nec elementum ipsum convall Maecenas at arcu risus
                           scelerisque laoree.
                        </p>
                        <!-- button -->
                        <a class="btn btn-secondary" href="contact.html">Contact us</a>
                     </div>
                     <!-- /alert -->
                  </div>
                  <!-- /inside-wrapper -->
               </section>
               <!-- footer -->
               {{> footer}}
               <!-- / footer-->
            </div>
            <!-- / content-box -->
         </div>
         <!-- /content-wrapper -->
      </div>
      <!-- /content -->
   </div>
   <!-- /container-fluid -->
   