<!-- ===== Page Content ===== -->
<div class="container-fluid">
   <!-- ===== Sidebar starts ===== -->
   {{> sidebar}}
   <!-- ===== / sidebar ends ===== -->
   <!-- ===== content starts  ===== -->
   <div id="content" class="col-md-10 split">
      <!--content-wrapper  -->
      <div class="content-wrapper">
         <!--divider-top  -->
         <div class="divider-top">
            <!--header-info  -->
            <div class="header-info col-md-12">
               <!--inside-wrapper  -->
               <div class="inside-wrapper container">
                  <!-- Heading -->
                  <h1>Our Services</h1>
                  <!-- Breadcrumb -->
                  <ul class="breadcrumb">
                     <li><a href="index.html">Home</a></li>
                     <li class="active">Our services</li>
                  </ul>
                  <!--/Breadcrumb -->
               </div>
               <!--/inside-wrapper  -->
            </div>
            <!--/header-info  -->
            <!-- image gradient overlay-->
            <div class="gradient-overlay"></div>
         </div>
         <!-- /divider-top -->
         <div class="content-box container">
            <!-- ===== section starts  ===== -->
            <section class="inside-page">
               <div class="inside-wrapper container">
                  <!-- row -->
                  <div class="row">
                     <div class="col-md-7">
                        <h2>Yougurt for all ocasions</h2>
                        <p>We believe in feeling good and making healthy choices. That’s why we love making yogurt. It’s not just delicious and fun to eat; it can offer important nutrients too! That means it can be a good choice for you and for your family. </p>
                        <p>We live in a busy world and that means it can be tough to get a variety of nutrients a busy body needs. That’s where yogurt can help play a role. Many yogurts contain calcium, potassium, vitamin D and protein—all of these in a delicious, snackable cup</p>
                     </div>
                     <!-- image -->
                     <div class="col-md-5">
                        <img class="img-responsive img-rounded center-block" src="img/services/services.jpg" alt="">
                     </div>
                  </div>
                  <!--/row -->
                  <!-- owl-carousel -->

                  {{> services-scroll}}

                  <!-- /owl-carousel -->
                  <!-- row -->
                  <div class="row margin1">
                     <div class="col-md-5">
                        <h4 class="title no-margin-top">Frequently asked questions</h4>
                        <p>Here are the collection of some the frequently asked questions by some of our customers .</p>
                     </div>
                     <div class="col-md-7">
                        <!-- Accordions -->
                        <div class="panel-group" id="accordion">
                           <!-- Question 1 -->
                           <div class="panel">
                              <div class="panel-heading">
                                 <h6 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapse1">How can I make yogurt more fun for my child and myself?</a>
                                 </h6>
                              </div>
                              <!-- /panel-heading -->
                              <div id="collapse1" class="panel-collapse collapse in">
                                 <div class="panel-body">
                                    <p>Yogurt can be served with breakfast cereals, with fruit, in whole grain pancakes, in smoothies, in marinades for meat and fish, in veggie dips, and many more recipes.</p>
                                 </div>
                              </div>
                           </div>
                           <!--/panel -->
                           <!-- Question 2 -->
                           <div class="panel">
                              <div class="panel-heading">
                                 <h6 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse"
                                       data-parent="#accordion" href="#collapse2">How much dairy should my child consume each day?</a>
                                 </h6>
                              </div>
                              <!-- /panel-heading -->
                              <div id="collapse2" class="panel-collapse collapse">
                                 <div class="panel-body">
                                   <p> Among 1-3 year-olds, 2 servings of dairy are recommended, and among 4-5 year olds, 2.5
                                 servings of dairy are recommended per day. Children consume smaller portions than
                                 adults, so this amount may need to be spread over smaller portions. A serving of dairy
                                 includes:</p>
                              <ul>
                                 <li>
                                    <p>1 cup of yogurt or milk</p>
                                 </li>
                                 <li>
                                    <p>1.5 ounces natural cheese or 2 ounces of processed cheese</p>
                                 </li>
                                 <li>
                                    <p>1 cup pudding/frozen yogurt</p>
                                 </li>
                              </ul>
                              <p class="eng">Non fat and low fat milk or yogurt are recommended when selecting your
                                 dairy servings</p>
                                 </div>
                              </div>
                           </div>
                           <!--/panel -->
                           <!-- Question 3 -->
                           <div class="panel">
                              <div class="panel-heading">
                                 <h6 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse"
                                       data-parent="#accordion" href="#collapse3">How many days in advance should I
                                       order?</a>
                                 </h6>
                              </div>
                              <div id="collapse3" class="panel-collapse collapse">
                                 <div class="panel-body">
                                    <p>You can order anytime you wish, we make sure that all orders are delivered as fast as possible using our fast and efficient delivery service</p>
                                 </div>
                              </div>
                           </div>
                           <!--/panel -->
                           <!-- Question 4 -->
                           <div class="panel">
                              <div class="panel-heading">
                                 <h6 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse"
                                       data-parent="#accordion" href="#collapse4">How long does yogurt last once opened, and why does liquid sometimes appear on top after it’s opened?
                                       </a>
                                 </h6>
                              </div>
                              <div id="collapse4" class="panel-collapse collapse">
                                 <div class="panel-body">
                                    <p>It is recommended that yogurt be used within seven days of opening it. If the whey separates from the rest of the yogurt, liquid may form on top of the yogurt. The liquid whey is safe to stir back into the yogurt and consume. Additionally, it’s important to note that the fermentation process used to create yogurt extends its shelf life in comparison to milk, so yogurt will last longer than milk after it’s created</p>
                                 </div>
                              </div>
                           </div>
                           <!--/panel -->
                        </div>
                        <!-- /.accordion -->

                        






                     </div>
                     <!-- /col-md- -->
                  </div>
                  <!-- /row -->
                  <!-- alert box -->
                  {{> alert-box}}
                  <!-- /alert -->
               </div>
               <!-- /inside-wrapper -->
            </section>
            <!-- footer -->
            {{> footer}}
            <!-- / footer-->
         </div>
         <!-- / content-box -->
      </div>
      <!-- /content-wrapper -->
   </div>
   <!-- /content -->
</div>
<!-- /container-fluid -->